*{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    background-image: 
    linear-gradient(rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 1)),
    url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Cinzel', serif;
    background-position: center;
}

.main-container{
    display: grid;
    grid-template-rows: auto 3fr auto;
    grid-template-columns: 1fr 2fr 1fr;
    height: 100vh;
}

.main-contact{
    grid-template-columns: 1fr 3fr 1fr;
}

/* ---------------- ESTILOS DEL NAV ---------------- */

.header{
    display: flex;
    grid-column-start: 1;
    grid-column-end: 4;
    justify-content:space-between;
    /* flex-direction: row; */
    flex-wrap: wrap;
    align-items: center;
    background: linear-gradient(to right, #15181f 0%,#232c39 50%,#15181f 100%);
    position: sticky;
    align-content: flex-end;
    top: 0;
    margin-bottom: 1em;
    z-index: 1;
}

.lore{
    padding-left: 1em;
}

.nav{
    display: flex;
    justify-content: center;
    border: rgb(129, 129, 129) solid 1px;
    background: linear-gradient(to right, #b1a77c 0%,#a59363 50%,#807a45 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 3.5em;
    flex-grow: 1;
    flex-basis: 100%;
}

.logo-container{
    display: inherit;
    width:60%;
    padding: 1em;
}

.logo{
    width: 100%;
    min-width: 500px;
}

.logo:hover{
    filter:drop-shadow(2px 2px 2px #a59363);
    transition: all .2s;
}

.list{
    display: inherit;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 30px;
}

.link{
    font-weight: 700;
    font-size: 1.3rem;
    background-image: linear-gradient(to right, #000000d8, #2e2e2e 50%,rgb(255, 255, 255) 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.link:before{
    content: '';
    background: #2a251e;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.link:hover{
    background-position: 0;
}
   
.link:hover::before{
     width:100%;
}

.menu-desplegable{
    position: absolute;
    list-style: none;
    width: 175px;
    background: #a59363;
    padding: 0;
    display: none;

}

.list li:hover .menu-desplegable{
    display: block;
}

.menu-desplegable li:hover{
    background: #15181f;
    transition:1.3s;
}

.menu-desplegable li a{
    display: block;
    color: white;
    padding: 15px 0px 15px 25px;
    font-weight: 600;
}

.menu-desplegable li a:hover{
    color: #a59363;
    transition: all .5s;
}

.btnLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
    height: 25%;
    max-width: 150px;
    min-width: 150px;
    background:linear-gradient(to bottom, #b1a77c 0%,#a59363 50%,#807a45 100%);
    border: 2px solid white;
    border-radius: 6px;
    box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    font-size: 1.1rem;
    user-select: none;
    margin-right: 3em;
}

.btnLogin:hover{
    background: #232c39 100%;
    transition: all .7s;
}

.login-text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 1000;
    color: #232c39;
    width: 130px;
    height: 50px;
    text-decoration: none;
}

.login-text:hover{
    color:#807a45;
    transition: all .7s;
}

.nav-responsive{
    display: none;
}

ul{
    margin: 0;
}

.img-grid{
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-grid:hover{
    transition: all .7s;
    filter: opacity(.7);
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column-start: 2;
    grid-column-end: 3;
}

.article-container{
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.galeria-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, auto));
    background:linear-gradient(to bottom, #8f8f8f 0%,#cacaca 50%,#8f8f8f 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: space-evenly;
    padding: 1em 0;
    width: 100%;
}

.noshadow{
    box-shadow: none;
}

.section-container h3{
    text-align: center;
    font-size: 2rem;
}

.titulo{
    display: block;
    color: aliceblue;
    background: linear-gradient(to right, #15181f 0%,#232c39 50%,#15181f 100%);
    margin: 0px;
    padding: 20px;
    font-size: 1.6rem;
    text-align: center;
}

.galeria-grid a{
    width: 300px;
}

.titulo-grid{
    width: 100%;
}

.padbot{
    padding-bottom: 1em;
}

.section-container{
    display: flex;
    flex-direction: column;
    padding: 0 1em 1em 1em;
    background:linear-gradient(to bottom, #8f8f8f 0%,#cacaca 50%,#8f8f8f 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.spoiler{
    color: darkred;
}

.trailer{
    padding-top: 1em;
}

.iframe{
    padding-top: 1em;
    width: 100%;
    height: 100%;
    margin: auto;
    padding-bottom: 1em;
    min-height: 500px;
    min-width: 500px;
}

.section-text{
    font-size: 1.3rem;
    font-family: sans-serif;
    font-weight: 500;
    text-align: left;
    margin: 0 10px;
}

.section-image{
    width: 100%;
    margin: auto;
    padding: 1em .5em;
    border-radius: 30px;
}

.sep{
    margin-top: 1em;
}

.subtitulo{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    color:beige;
    padding-left: 1em;
}

/* ESTILOS DEL FOOTER */

.footer{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
    margin-top: .5em;
    background: linear-gradient(to left,  #2a251e 0%,#666054 50%,#2a251e 100%);
    font-size: 3.1rem;
}

.sep1{
    display: inherit;
    justify-content: center;
    width: 25%;
    flex-direction: column;
    padding: .3em 1em;
    
}

.sep2{
    display: inherit;
    width: 50%;
    border-left: #807a45 solid 1px;
    border-right: #807a45 solid 1px;
    padding: .3em;
}

.sep3{
    display: inherit;
    justify-content: center;
    width: 25%;
    flex-direction: column;
}

.copyright{
    display: inherit;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background:  #2a251e;
    margin: 0;
    padding: .3em;
    width: 100%;
}

.footer-parrafo{
    font-size: 1rem;
    text-align: center;
    margin: 0;
    color: white;
}

.copy{
    display: inherit;
    padding: 0;
    align-items: center;
}

.redes{
    display: flex;
    align-items: center;
    padding-left: 1em;
    padding-bottom: .1em;
    height: 25%;
}

.redes-desc{
    display: flex;
    text-decoration: none;
    color: white;
    padding: 0 .5em;
    font-size: 1rem;
    color: white;
    box-shadow: inset 0 0 0 0 #df9c3f;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.link-redes{
    text-decoration: none;
}

.fa-instagram, .fa-x-twitter, .fa-facebook, .fa-youtube{
    color: white;
    padding-right: .2em;
    font-size: 1.5rem;
}

.redes-logos{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-link{
    display: flex;
    text-decoration: none;
    color: white;
    padding: 2px;
    box-shadow: inset 0 0 0 0 #df9c3f;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.footer-link:hover {
    box-shadow: inset 100px 0 0 0 #2a251e;
    color: #ffbb00;
}

.links{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    font-size: 1rem;    
}

.redes-desc:hover {
    box-shadow: inset 100px 0 0 0 #2a251e;
    color: #ffbb00;
}

.contact-content{
    grid-column-start: 2;
    grid-column-end: 3;
    max-width: 1170px;
    justify-self: center;
    padding: 1.5rem;
    font-family: Quicksand, sans-serif;
}

.contact{
    bottom: 0; 
}

.contact-wrapper > *{
    padding: 1em;
}

.contact-title{
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    padding: 1em;
    margin: 0;
    color: whitesmoke;
    font-family: sans-serif;
    backdrop-filter: blur(50px);
    border-right: 2px solid #15181f;
    border-left: 2px solid #15181f;
    border-top: 2px solid #15181f;
}

textarea{
    resize: none;
}

.galeria-grid{
    column-gap: .3em;
}

.contact-wrapper{
    display: grid;
    grid-template-columns: .5fr 1fr;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.contact-form form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form .block{
    grid-column:1/3;
}

.contact-info{
    background: rgb(110,110,110);
    background: linear-gradient(to right, #232c39 100%, rgb(184, 184, 184) 25%,#15181f 0%);
    color: white;
}

.contact-form{
    background: rgb(110,110,110);
    background: linear-gradient(to right, #232c39 100%, rgb(184, 184, 184) 25%,#15181f 0%);
    font-weight: 600;
    color: #df9c3f;
}

.contact-form form p{
    margin: 0;
    padding: 1em;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea{
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    border-bottom: 1px solid #807a45;
    outline: 0;
    color: white;
}

.contact-form form button{
    background: #666054;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus{
    background: #807a45;
    color: #15181f;
    transition: background-color 1s ease-out;
    cursor: pointer;
    outline: 0;
}

.contact-info h4,
.contact-info ul,
.contact-info p{
    text-align: center;
    margin: 0 0 1rem 0;
}

.contact-info ul{
    list-style: none;
    padding: 0;
}

.contact-info ul li{
    padding: .3em;
}

/* ---------- ESTILOS LOGIN ---------- */

.wrapper{
    position: relative;
    min-width: 400px;
    width: 40px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: height .2s ease;
}

.wrapper.active{
    height: 520px;
}

.wrapper .form-box{
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login{
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register{
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #232c39;
    font-size: 2em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2 {
    font-size: 2em;
    color: #232c39;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #232c39;
    margin: 30px 0;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    font-weight: 1000;
    color: #232c39;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.1em;
    color: white;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #232c39;
    line-height: 57px;
}

.remember-forgot{
    font-size: .9em;
    color: white;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.remember-forgot label input{
    accent-color: white;
    margin-right: 3px;
}
.remember-forgot a{
    color: white;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 45px;
    background: #232c39;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
}

.login-register{
    font-size: .9em;
    color: white;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover{
    text-decoration: underline;
}

@media screen and (min-width: 1900px){
    .iframe{
        width: 50%;
        min-width: 800px;
    }
}

@media screen and (max-width: 1250px) {

    .main-container{
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 3fr 1fr;
        height: 100vh;
    }

    .article-container{
        width: 100%;
    }

    .contact-content{
        padding: 0;
    }

    form input:nth-child(n-1){
        min-width: 250px;
        font-size: .8em;
    }

    .section-text{
        font-size: 1.3rem;
    }

    .footer{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .sep1{
        padding: 1rem;
        border-right: none;
    }

    .sep3{
        border-left: none;
        padding: 1rem;
        justify-content: center;
    }

    .links a{
        text-align: right;
        justify-content: right;
        align-items: right;
    }

    .redes{
        display: inherit;
        justify-content:start;
        padding: 0;
    }

    .footer div:nth-child(2) p{
        text-align: center;
    }

    .titulo{
        font-size: 1.3rem;
    }

}

@media screen and (max-width: 1000px){

    .contact-content{
        padding: 0;
    }

    form input:nth-child(n-1){
        min-width: 0;
        font-size: .8em;
    }

    .galeria-grid{
        grid-template-columns: repeat(auto-fill, minmax(150px, auto));
        row-gap: .5em;
    }

    .img-grid, .galeria-grid a{
        height: 150px;
        width: 150px;
    }
}

@media screen and (max-width: 800px) {

    body{
        background-image: url("../img/background-movil.jpg");
    }

    .main-container{
        display: grid;
        grid-template-columns: .5fr 5fr .5fr;
    }

    .sep2{
        width: 60%;
    }

    .logo{
        min-width: 200px;
        width: 90%;
    }

    .btnLogin{
         min-width: 20%;
         margin: 0;
         padding: 0;
         height: 2rem;
         background: transparent;
         border: 2px solid white;
         border-radius: 6px;
         box-shadow: none;
    }
    
    .login-text{
        font-size:calc(12px + 1.2vw);
        font-weight: 700;
        color: white;
    }

    .titulo{
        font-size: 1.5rem;
    }

    .nav{
        display: none;
    } 

    .nav-responsive{
        display: flex;
        width: 2em;
        height: 20px;
        justify-content: center;
        align-items: center;
    }

    .bar-btn{
        font-size: 1.5rem;
        color: white;
        cursor: pointer;
        margin-right: 2rem;
    }

    .section-text{
        font-size: 1.2rem;
    }

    .titulo{
        font-size: 1.2rem;
    }

    .article-container{
        width: 100%;
    }

    .nav-menu{
        position: fixed;
        justify-content: center;
        padding: 0;
        width: 100%;
        height: 0vh;
        left: 0;
        top: 4rem;
        background: linear-gradient(to right, #15181f 0%,#232c39 50%,#15181f 100%);
        text-align: center;
        transition: all .5s;
    }

    .nav-menu li{
        display: none;
        line-height: 30px;
        margin: 50px 0;
        transition:  all .5s;
    }

    .nav-menu li a{
        color: white;
        font-size: 1.3em;
        text-transform: uppercase;
        font-weight: 600;
    }

    .nav-menu li a.active, .nav-menu li a:hover{
        color: #807a45;
        transition: .3s;
    }

    .nav-menu li a.active{
        color: #df9c3f;
    }

    #check{
        display: none;
    }

    #check:checked ~ .nav-menu{
        height: 100vh;
    }

    #check:checked ~ .nav-menu li{
        display: block;
    }

    .contact-info{
        grid-column-start:1 ;
        grid-column-end:4 ;
        background: rgb(110,110,110);
        background: linear-gradient(to right, #232c39 100%, rgb(184, 184, 184) 25%,#15181f 0%);
        color: white;        
    }

    .contact-info :nth-child(4){
        width: 70%;
        margin: auto;
        padding-bottom: 1em;
        border-bottom: 2px solid #8f8f8f;
    }
    
    .contact-form{
        grid-column-start:1 ;
        grid-column-end:4 ;
        background: rgb(110,110,110);
        background: linear-gradient(to right, #232c39 100%, rgb(184, 184, 184) 25%,#15181f 0%);
        font-weight: 600;
        color: #df9c3f;
    }

    .sep1{
        padding: .1em;
    }

    .sep2{
        border: none;
        border-top: #807a45 solid 1px;
        border-bottom: #807a45 solid 1px;
    }

    .sep3{
        flex-direction: row;
        border-left: none;
        padding: .3em;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .redes-desc{
        display: none;
    }

    .footer{
        flex-direction: column;
        flex-wrap: wrap;
    }

    .links{
        align-items: center;
    }

}

@media screen and (max-width: 550px) {

    .main-container{
        grid-template-columns: .1fr 4fr .1fr;
        min-width: 390px;
    }

    .btnLogin{
        border: none;
    }

    .article-container{
        width: 100%;
    }

    .section-text{
        font-size: 1rem;
    }

    .titulo{
        font-size: 1.1rem;
    }

    .nav-menu li a{
        font-size: 1rem;
    }

    .links{
        display: flex;
        justify-content: right;
        align-items: center;
    }

    .sep2{
        width: 80%;
        border: none;
        border-top: #807a45 solid 1px;
        border-bottom: #807a45 solid 1px;
    }

    .sep3{
        padding: .3em;
        flex-direction: row;
        width: 100%;
    }

    .redes{
        height: 100%;
        justify-content: center;
    }

    .redes-desc{
        display: none;
    }

    .iframe{
        padding-top: 1em;
        width: 100%;
        margin: auto;
        height: 100%;
        padding-bottom: 1em;
        min-height: 250px;
        min-width: 0;
    }

    .footer{
        flex-direction: column;
        flex-wrap: wrap;
    }

    .contact-form form p:nth-child(1), p:nth-child(2), p:nth-child(3){
        grid-column-start:1 ;
        grid-column-end:3 ;
    }

    .lore{
        padding-left: .5em;
    }

    .section-container h3{
        font-size: 1.5rem;
    }

    .copyright{
        display: block;
    }

    .porque{
        height: fit-content;
    }

    .contact-content{
        grid-column-start: 2;
        grid-column-end: 3;
        padding: 0;
    }

}

